h3 {
    font-weight: bold;
    text-align: center;
}

h1{
    text-align: center;
}
#title-content{
    margin: auto;
    width: 70%;
}

#main-content{
    margin: auto;
    
}

#xl{
    letter-spacing: 1px; /* for xl */
    font-size: 0.4rem; /* for xl */
    line-height: 6px; /* for xl */
    width: 985px; /* for xl */
}
#l{
    letter-spacing: 2px; 
    font-size: 0.6rem; 
    line-height: 8px; 
    width: 855px; 
}
#m{
    letter-spacing: 3px; 
    font-size: 0.8rem; 
    line-height: 12px; 
    width: 580px; 
}
#s{
    letter-spacing: 4px; 
    font-size: 0.85rem; 
    line-height: 15px; 
    width: 418px; 
}


/* make each size about 900px on screen (adjust letter spacing and line-height) */
#t-container{
  
    letter-spacing: 1px; /* for xl */
    font-size: 0.4rem; /* for xl */
    line-height: 6px; /* for xl */
    width: 985px; /* for xl */ 
    border-radius: 10px;
    border: 10px solid lightblue;
    /*width: 190px;*/
    height: auto;
    /*max-width: 900px;
    max-height: 900px;
    min-width: 400px;
    min-height: 400px;*/
    margin:auto;
    padding:10px;
    /*padding-left: 200px;
    padding-right: 200px;*/
    /* Maybe change padding/styling depending on what the inputs are ex. small/large */
}

#toolbar{
    margin: auto;
    width:fit-content;
    height: 60px;
    margin-top: 50px;
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 30px;
    gap: 30px;

}

#selected-image{
    max-width: 890px;
    max-height: 900px;
    width: 98%;
    height: auto;
    min-width: 390px;
    min-height: 400px;
    padding-left: 6px;
    padding-right: 10px;
    padding-top: 5px;
    margin: 0;
    border: 0;
}

#reset-button{
    background-color: black;
    color: rgb(211, 87, 34);
    display:block;
}

.button{
    border-radius: 15px;
    color: white;
    border: 0;
    width: 120px;
    height: 40px;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    margin: auto;
    
}

#copy-button{
    background-color: blue;
    display:block;
}

.rows{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

textarea{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    resize:none;
    overflow: auto;
}
