{% load static %}
<!DOCTYPE html>
<html>
   <link rel="stylesheet" href="{% static 'css/home.css' %}">
   
   <title> Word Photo</title>
    <body>
        <div id="title-content">
            <h1>Word photo</h1> <!-- Will make logo and change to image instead of title-->
            <h3>Convert a photo into an array of keyboard characters</h3>
        </div>
        <div id="main-content">
            <div id="img-container">
                <img id="selected-image" src="" alt="">
            </div>

            <div id="toolbar">
                <!-- photo input -->
                <input onclick="handleImageSelection()" type="file" id="img-upload" accept="image/*" width="780">
                <button onclick="handleConvert()" class="button" id="convert-button"> Convert </button>
                <button onclick="handleClear()" class="button" id="cancel-button" > Cancel </button> 
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/home.js' %}"></script>  
    </body>
</html>